.ui-widget-header {
    background: none;
    border: none;
}

.dropdown-menu {
    border-radius: 10px;
}

.date-text:hover {
    background-color: #C0E9D8;
    border-radius: 20px;
}

element.style {
    display: contents;
}

.btn-date-select {
    background: white;
    border-radius: 10px;
}


